*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2{
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    padding-top: 30px;
    display: inline-block;
    font-weight: 100;
}
hr{
    color: rgba(211, 211, 211, 0.234);
}
.big-box{
    /* border: 1px solid black; */
    /* display: grid;
    grid-template-columns: auto auto auto ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.wrapped-content{
    padding: 0px 95px;
    transition: all .5s;
}
h2{
    color: gray;
    padding-left: 10px;
}
.box{
    /* border: 1px solid black; */
    padding: 18px 0px;
    width: 400px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    transition: all .5s;
}
.P-name{
    color: #6097ce;
    padding: 0px;
}
ul>li:nth-of-type(1){
    padding-left: 95px;
    transition: all .5s;
}

@media screen and (max-width:1484px) {
    .wrapped-content{
        padding: 0px 90px;
    }
    header{
        display: block;
    }
}
@media screen and (max-width:1440px) {
    .wrapped-content{
        padding: 0px 80px;
    }
    ul>li:nth-of-type(1){
        padding-left: 80px;
    }

}
@media screen and (max-width:1425px) {
    .wrapped-content{
        padding: 0px 65px;
    }
    ul>li:nth-of-type(1){
        padding-left: 65px;
    }
}
@media screen and (max-width:1395px) {
    .box{
        width: 380px;
    }
}
@media screen and (max-width:1332px) {
    .box{
        width: 360px;
    }
}
@media screen and (max-width:1273px) {
    .box{
        width: 340px;
    }
}
@media screen and (max-width:1223px) {
    .box{
        width: 325px;
    }
}
@media screen and (max-width:1170px) {
    .box{
        width: 310px;
    }
}
@media screen and (max-width:1123px) {
    .box{
        width: 295px;
    }
}
@media screen and (max-width:1078px) {
    .box{
        width: 280px;
    }
}
@media screen and (max-width:1037px) {
    .box{
        width: 400px;
    }
}
@media screen and (max-width:963px) {
    .box{
        width: 385px;
    }
}
@media screen and (max-width:934px) {
    .box{
        width: 370px;
    }
}
@media screen and (max-width:911px) {
    .box{
        width: 355px;
    }
}
@media screen and (max-width:878px) {
    .box{
        width: 340px;
    }
}
@media screen and (max-width:847px) {
    .box{
        width: 325px;
    }
}
@media screen and (max-width:813px) {
    .box{
        width: 310px;
    }
}
@media screen and (max-width:786px) {
    .box{
        width: 295px;
    }
}
@media screen and (max-width:755px) {
    .box{
        width: 280px;
    }
}
@media screen and (max-width:725px) {
    .box{
        width: 265px;
    }
}
@media screen and (max-width:693px) {
    .box{
        width: 250px;
    }
}
@media screen and (max-width:666px) {
    .wrapped-content{
        padding: 0px 60px;
    }
    ul>li:nth-of-type(1){
        padding-left: 60px;
    }
}
@media screen and (max-width:653px) {
    .wrapped-content{
        padding: 0px 50px;
    }
    ul>li:nth-of-type(1){
        padding-left: 50px;
    }
}
@media screen and (max-width:634px) {
    .wrapped-content{
        padding: 0px 40px;
    }
}
@media screen and (max-width:615px) {
    .wrapped-content{
        padding: 0px 30px;
    }
}
@media screen and (max-width:595px) {
    h1{
        font-size: 25px;
        transition: all .5s;
    }
    h2{
        font-size: 22px;
        padding-left: 0px;
        transition: all .5s;
    }
    .head{
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-bottom: 10px;
    }
    h1,h2{
        margin: 0px;
    }
    h2{
        margin-top: 5px;
    }
    header{
        display: flex;
    }
    ul>li:nth-of-type(1){
        padding-left: 15px;
    }

    .big-box{
        justify-content: center;
    }
    .box{
        width: 400px;
    }
}
@media screen and (max-width:595px) {
    .wrapped-content{
        padding: 0px 95px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 26px;
    }
}
@media screen and (max-width:565px) {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 24px;
    }
}
@media screen and (max-width:543px) {
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 22px;
    }
}
@media screen and (max-width:512px) {
    h1{
        font-size: 23px;
        margin-top: 2px;
    }
    h2{
        font-size: 20px;
    }
}

@media screen and (max-width:490px) {
    .wrapped-content{
        padding: 0px 85px;
    }
}
@media screen and (max-width:466px) {
    .wrapped-content{
        padding: 0px 75px;
    }
}
@media screen and (max-width:453px) {
    .wrapped-content{
        padding: 0px 65px;
    }
}
@media screen and (max-width:425px) {
    .wrapped-content{
        padding: 0px 55px;
    }
}
@media screen and (max-width:408px) {
    .wrapped-content{
        padding: 0px 45px;
    }
}
@media screen and (max-width:384px) {
    .wrapped-content{
        padding: 0px 35px;
    }
}
@media screen and (max-width:366px) {
    .wrapped-content{
        padding: 0px 30px;
    }
}
@media screen and (max-width:355px) {
    .wrapped-content{
        padding: 0px 25px;
    }
}
@media screen and (max-width:346px) {
    .wrapped-content{
        padding: 0px 20px;
    }
}
@media screen and (max-width:335px) {
    :root{
        font-size: 14px;
    }
    .box{
        width: 280px;
    }
}
@media screen and (max-width:330px) {
    h1{
        font-size: 21px;
    }
    h2{
        font-size: 18px;
    }
    ul>li:nth-of-type(1){
        padding-left: 5px;
    }
    li{
        padding: 15px 5px;
    }
}
@media screen and (max-width:323px) {
    .box{
        width: 270px;
    }
}
@media screen and (max-width:309px) {
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 17px;
    }
    .box{
        width: 260px;
    }
}
@media screen and (max-width:301px) {
    :root{
        font-size: 12px;
    }
    .box{
        width: 250px;
    }
}
@media screen and (max-width:290px) {
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 16px;
    }
    .box{
        width: 240px;
    }
}
@media screen and (max-width:281px) {
    :root{
        font-size: 10px;
    }
    .box{
        width: 230px;
    }
}
@media screen and (max-width:270px) {
    h1{
        font-size: 17px;
    }
    h2{
        font-size: 15px;
    }
    .wrapped-content{
        padding: 0px 20px;
    }
    .box{
        width: 220px;
    }
}
@media screen and (max-width:258px) {
    .wrapped-content{
        padding: 0px 15px;
    }
    li{
        padding: 15px 3px;
    }
    ul>li:nth-of-type(1){
        padding-left: 3px;
    }
   
}
@media screen and (max-width:250px) {
    .wrapped-content{
        padding: 0px 10px;
    } 
}
@media screen and (max-width:240px) {
    .wrapped-content{
        padding: 0px 5px;
    } 
}
@media screen and (max-width:231px) {
    .wrapped-content{
        padding: 0px 0px;
    } 
}